#stopwatch {
    font-size: 5em;
    margin: 20px;
  }
  
  button {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(197, 255, 255);
    font-size: 1.5em;
    padding: 10px 30px;
    margin: 10px;
  }