.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links li {
  margin-left: 2rem;
}
.nav-links li a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: #888;
}

.menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-btn span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #000;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  .nav-links li {
    margin-left: 0;
  }
  .nav-links li a {
    font-size: 1.5rem;
  }
  .menu-btn {
    display: block;
  }
}
.nav-active .nav-links {
  display: flex;
}
.nav-active .menu-btn span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}
.nav-active .menu-btn span:nth-child(2) {
  opacity: 0;
}
.nav-active .menu-btn span:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hero {
  background-color: #eafbff;
  padding: 50px 0;
}
.hero img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}
.hero h1 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
}
.hero p {
  font-size: 20px;
  margin: 0;
}
.hero .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.hero .container .row {
  display: flex;
  flex-wrap: wrap;
}
.hero .container .row .col-6 {
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
}

.about {
  padding: 50px 0;
  background-color: #fff;
}
.about h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.about p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.about .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

#skills {
  background-color: #eafbff;
  padding: 80px 0;
}
#skills .container {
  max-width: 80%;
  margin: 0 auto;
}
#skills .container .section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}
#skills .container .tags-group {
  margin-bottom: 40px;
}
#skills .container .tags-group .tag-category {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
#skills .container .tags-group .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -10px;
}
#skills .container .tags-group .tags .tag {
  display: inline-block;
  background-color: #d9d9d9;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}
#skills .container .tags-group .tags .tag:hover {
  background-color: #333;
  color: #fff;
}

.work-experience {
  margin: auto;
  padding: 50px 100px;
  max-width: 1200px;
  background-color: #fff;
}
.work-experience h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.work-experience .timeline {
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
}
.work-experience .timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #3e3e3e;
}
.work-experience .timeline-item {
  position: relative;
  margin-bottom: 50px;
}
.work-experience .timeline-item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3e3e3e;
  z-index: 1;
}
.work-experience .timeline-item .timeline-icon {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #3e3e3e;
  z-index: 2;
}
.work-experience .timeline-item .timeline-icon i {
  font-size: 18px;
  color: #3e3e3e;
}
.work-experience .timeline-item .timeline-content {
  position: relative;
  padding: 30px;
  margin-left: 60px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}
.work-experience .timeline-item .timeline-content h3 {
  justify-content: center;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
.work-experience .timeline-item .timeline-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
.work-experience .timeline-item .timeline-content .timeline-date {
  display: block;
  margin-bottom: 20px;
  color: #999;
}
.work-experience .timeline-item .timeline-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .work-experience .timeline:before {
    left: 30px;
    transform: none;
  }
  .work-experience .timeline-item:before {
    left: 0;
    transform: none;
  }
  .work-experience .timeline-item .timeline-icon {
    left: 0;
    transform: none;
  }
  .work-experience .timeline-item .timeline-content {
    margin-left: 0;
  }
}

#introduction {
  background-color: #eafbff;
  padding: 80px 0;
}
#introduction .container {
  max-width: 960px;
  margin: 0 auto;
}
#introduction .container .section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}
#introduction .container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#introduction .container .row .col-md-6 {
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
}
#introduction .container .row .col-md-6 p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
#introduction .container .row .col-md-6 video {
  width: 100%;
  height: auto;
}

.blog-cards {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-cards .blog-card {
  width: 20%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.blog-cards .blog-card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}
.blog-cards .blog-card .blog-card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.blog-cards .blog-card .blog-card-content p {
  margin-bottom: 10px;
}
.blog-cards .blog-card .blog-card-content .read-more-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4099c2;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.blog-cards .blog-card .blog-card-content .read-more-btn:hover {
  background-color: #fff;
  color: #000;
}
@media only screen and (max-width: 768px) {
  .blog-cards .blog-card {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .blog-cards .blog-card {
    width: calc(50% - 20px);
  }
}

.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__copyright {
  font-size: 12px;
  margin-right: auto;
}
.footer .footer__social {
  font-size: 16px;
}
.footer .footer__social a {
  color: #fff;
  margin-right: 10px;
}
.footer .footer__social a:last-child {
  margin-right: 0;
}
.footer .footer__social a:hover {
  color: #ccc;
}
.footer .footer__social i {
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#contact {
  background-color: #eafbff;
  padding: 80px 0;
}
#contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #333;
}
#contact .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact .row .col-md-6 {
  width: 48%;
}
#contact .row .contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#contact .row .contact-info ul li {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
#contact .row .contact-info ul li i {
  margin-right: 10px;
  font-size: 24px;
  color: #333;
  vertical-align: middle;
}
#contact .row .contact-info ul .social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}
#contact .row .contact-info ul .social-icons a:hover {
  color: #e74c3c;
}
#contact .row .contact-form {
  flex-basis: 45%;
}
#contact .row .contact-form h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
#contact .row .contact-form form input,
#contact .row .contact-form form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: #333;
}
#contact .row .contact-form form input:focus,
#contact .row .contact-form form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#contact .row .contact-form form textarea {
  height: 150px;
  resize: none;
}
#contact .row .contact-form form button[type=submit] {
  background-color: #3662db;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#contact .row .contact-form form button[type=submit]:hover {
  background-color: #333;
}
@media screen and (max-width: 992px) {
  #contact .contact-info {
    flex-basis: 100%;
    margin-bottom: 50px;
    text-align: center;
  }
  #contact .contact-form {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 768px) {
  #contact {
    padding: 40px 0;
  }
  #contact .contact-info {
    margin-bottom: 30px;
  }
  #contact .contact-info h3 {
    font-size: 20px;
  }
  #contact .contact-info p {
    font-size: 14px;
  }
  #contact .contact-form {
    margin-bottom: 20px;
  }
  #contact .contact-form form input,
  #contact .contact-form form textarea {
    font-size: 14px;
  }
  #contact .contact-form form input[type=submit] {
    padding: 8px 20px;
  }
  #contact .contact-form form textarea {
    height: 150px;
  }
}
@media screen and (max-width: 576px) {
  #contact .contact-info h3 {
    font-size: 18px;
  }
  #contact .contact-info p {
    font-size: 12px;
  }
  #contact .contact-form form input,
  #contact .contact-form form textarea {
    font-size: 12px;
  }
  #contact .contact-form form input[type=submit] {
    padding: 8px 12px;
  }
  #contact .contact-form form textarea {
    height: 120px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}/*# sourceMappingURL=style.css.map */