/* id */
#webpage{
    width: 100%;
}

#mainsection{
    background-image: url("images/shopmain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -180px;
    height: 200px;
    text-align: center;
    padding: 30px 0%;
    font-size: xx-large;

}

#timing{
    text-align: center;
    padding: 30px 0%;
}

#storetimingtable{
    border: 1px solid;

}

/* Class */
.navigation{
    margin: 10px;
    padding: 20px; 
    text-align: center;
    background-color: chocolate;
    color: white;
}

.menulink{
    color: blue;
    margin: 0px 5px 0px;
}

.sectiontitle{
    margin: 20px;
    text-align: center;
}
.sectiontitle h3{
    font-size: 32px;

}

/* general */

table{
    border: 1px solid;
    margin-left: 40%;
}

td{
    text-align: left;
    border: 1px solid;
    padding: 2px 10px;
}

#container{
    margin-left: auto;
    margin-right: auto;
}
.gallery{
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    float: left;
    width: 200px;     
}
.gallery img{
    width: 180px;
    height: 150px;
    padding-bottom: 10px;
}
.Description{
    text-align: center;
    font-size: large;
}
.gallery:hover{
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 10px 10px 20px grey;
    border: 1px solid grey;
}
a:visited{
    color:aqua;
}
a:hover{
    color: grey;
}

input[type=submit]:hover {
    background-color: #45a049;
  }

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }